<h4>Add a new comment for <%= @item.name %></h4>
    <%= simple_form_for @comment do |f| %>
      <%= f.input :content, wrapper_html: { class: 'form-name' } %>
      <%= f.input :item_id, :as => :hidden, :input_html => { :value => @item.id } %>
      <%= f.button :submit, 'Add comment' , class: "btn btn-secondary" %>
    <% end %>