<%= render 'shared/navbar' %>

<h1>Recipes</h1>

<% if @recipes %>
  <% @recipes.each do |recipe| %>
    <h3><%= recipe.name %>
    <%= link_to recipe_path(recipe),
                method: :delete,
                item_id: recipe.id,
                data: { confirm: "Are you sure you want to clear this recipe?" } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
        <%= link_to new_recipe_comment_path(recipe.id),
                  query: "test" ,
                  recipe: recipe do %>
          <i class="far fa-comment"></i>
          <% end %>
      <% if recipe.recipe_comments.length > 0 %>
        <% recipe.recipe_comments.each do |comment| %>
          <p class="recipe-comment"><%= comment.content %></p>
        <% end %>
      <% end %>
    </h3>
  <% end %>
<% end %>

<%= link_to delete_all_recipes_path,
                method: :delete_all,
                data: { confirm: "Are you sure you want to clear all recipes?" } do %>
        <button class="btn btn-secondary">Clear all recipes</button>
<% end %>   


 <div class="p-3">
    <h4>Add a new meal:</h4>
    <%= simple_form_for @recipe do |f| %>
      <%= f.input :name, wrapper_html: { class: 'form-name' } %>
      <%= f.button :submit, 'Add recipe' , class: "btn btn-secondary" %>
    <% end %>
  </div>


