<%= render 'shared/navbar' %>

<h1>Recipes</h1>

<% if @recipes %>
  <% @recipes.each do |recipe| %>
    <h3><%= recipe.name %>
    <%= link_to recipe_path(recipe),
                method: :delete,
                item_id: recipe.id,
                data: { confirm: "Are you sure you want to clear this recipe?" } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>   
    </h3>
  <% end %>
<% end %>

<%= link_to delete_all_recipes_path,
                method: :delete_all,
                data: { confirm: "Are you sure you want to clear all recipes?" } do %>
        <button class="btn btn-secondary">Clear all recipes</button>
<% end %>   


 <div class="p-3">
    <h4>Add a new meal:</h4>
    <%= simple_form_for @recipe do |f| %>
      <%= f.input :name, wrapper_html: { class: 'form-name' } %>
      <%= f.button :submit, 'Add recipe' , class: "btn btn-secondary" %>
    <% end %>
  </div>


  <%= link_to toggle_current_recipe_path(@recipe) do %>
          <button class="btn btn-secondary">Add Previous Recipe</button>
  <% end %>   




