<%= render 'shared/navbar' %>

<h1>Shopping list</h1>

<% if @items %>
  <ul class="list-group mb-3" id="items">
    <% counter = 1 %>
    <% @items.each do |item| %>
      <li class="list-group-item" data-id="<%= counter %>"><span class="
      <%= "item-marked" if item.marked %>
      "><%= item.name %> x <%= item.quantity %></span><br>
      <%= link_to item_path(item),
                  method: :delete,
                  item_id: item.id,
                  data: { confirm: "Are you sure you want to clear this item?" } do %>
          <i class="far fa-trash-alt"></i>
          <% end %>   
      <%= link_to mark_item_path(item),
                method: :mark,
                  item_id: item.id do %>
          <i class="fas fa-check-circle"></i>
          <% end %>
      <%= link_to new_comment_path(item.id),
                  query: "test" ,
                  item: item do %>
          <i class="far fa-comment"></i>
          <% end %>
      <% counter += 1 %>
      <% if item.comments.length > 0 %>
        <% item.comments.each do |comment| %>
          <p class="item-comment"><%= comment.content %></p>
        <% end %>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to delete_all_marked_path,
                method: :delete_all_marked,
                data: { confirm: "Are you sure you want to clear all marked items?" } do %>
        <button class="btn btn-secondary">Clear all marked items</button>
<% end %>   

<%= link_to delete_all_path,
                method: :delete_all,
                data: { confirm: "Are you sure you want to clear all items?" } do %>
        <button class="btn btn-secondary">Clear all items</button>
<% end %>   


 <div class="p-3">
    <h4>Add a new item:</h4>
    <%= simple_form_for @item do |f| %>
      <%= f.input :name, wrapper_html: { class: 'form-name' } %>
      <%= f.input :quantity, wrapper_html: { class: 'form-quantity' }, input_html: { value: '1' } %>
      <%= f.button :submit, 'Add item' , class: "btn btn-secondary" %>
    <% end %>
  </div>